
<ul class="form_ul">
<%= form_tag(session_path) do %>
<li>
	<%= label_tag :email %></br>
	<%= email_field_tag :email, nil, autofocus: true %>
</li>
<li>
	<%= label_tag :password %></br>
	<%= password_field_tag :password, nil %>
</li>
<li>
	<%= label_tag :pin %></br>
	<%= password_field_tag :pin, nil %>
</li>
<li>
	<%= submit_tag "Sign In", class: 'btn' %>
</li>
<% end %>
</ul>