<ul class="form_ul">

<%= form_for(@med) do |f| %>
	<li>
		<%= f.label :name %><br/>
		<%= f.text_field :name, autofocus: true %>
	</li>
	<li>
		<%= f.label :dose %><br/>
		<%= f.text_field :dose %>
	</li>
	<li>
		<%= f.label :route %><br/>
		<%= f.text_field :route %>
	</li>
	<li>
		<%= f.label :dose_timing %><br/>
		<%= f.text_field :dose_timing %>
	</li>
	<li>
		<%= f.label :ordering_provider %><br/>
		<%= f.text_field :ordering_provider %>
	</li>
	<li>
		<%= f.label :start_date %><br/>
		<%= f.date_select :start_date %>
	</li>
	<li>
		<%= f.label :end_date %><br/>
		<%= f.date_select :end_date %>
	</li>
	
	<li>
		<%= f.submit %>
		<%= link_to "Cancel", meds_path %>
	</li>
	
<% end %>
</ul>