

<%= form_for(@patient) do |f| %>
<ul class="form_ul">
	<li>
		<%= f.label :first_name %><br/>
		<%= f.text_field :first_name, autofocus: true %>
	</li>
	<li>
		<%= f.label :last_name %><br/>
		<%= f.text_field :last_name %>
	</li>
	<li>
		<%= f.label :dob %><br/>
		<%= f.date_select :dob %>
	</li>
	<li>
		<%= f.label :allergies %><br/>
		<%= f.text_field :allergies %>
	</li>
	<li>
		<%= f.label :code %><br/>
		<%= f.text_field :code %>
	</li>
	<li>
		<%= f.label :notes %><br/>
		<%= f.text_field :notes %>
	</li>
	<li>
		<%= f.label :orders %><br/>
		<%= f.text_field :orders %>
	</li>
	<li>
		<%= f.label :cbcNa %><br/>
		<%= f.text_field :cbcNa %>
	</li>
	<li>
		<%= f.label :cbcCl %><br/>
		<%= f.text_field :cbcCl %>
	</li>
	<li>
		<%= f.label :cbcBUN %><br/>
		<%= f.text_field :cbcBUN %>
	<li>
	<li>
		<%= f.label :cbcK %><br/>
		<%= f.text_field :cbcK %>
	</li>
	<li>
		<%= f.label :cmpHco3 %><br/>
		<%= f.text_field :cmpHco3 %>
	</li>
	<li>
		<%= f.label :cmpCr %><br/>
		<%= f.text_field :cmpCr %>
	</li>
	<li>
		<%= f.label :cbcWbc %><br/>
		<%= f.text_field :cbcWbc %>
	</li>
	<li>
		<%= f.label :hbg %><br/>
		<%= f.text_field :hbg %>
	</li>
	<li>
		<%= f.label :htc %><br/>
		<%= f.text_field :htc %>
	</li>
	<li>
		<%= f.label :plt %><br/>
		<%= f.text_field :plt %>
	</li>
	<li>
		<%= f.label :glucose %><br/>
		<%= f.text_field :glucose %>
	</li>
	<li>
		<%= f.label :bpSys %><br/>
		<%= f.text_field :bpSys %>
	</li>
	<li>
		<%= f.label :bpDia %><br/>
		<%= f.text_field :bpDia %>
	</li>
	<li>
		<%= f.label :o2 %><br/>
		<%= f.text_field :o2 %>
	</li>
	<li>
		<%= f.label :pulse %><br/>
		<%= f.text_field :pulse %>
	</li>
	<li>
		<%= f.label :resp %><br/>
		<%= f.text_field :resp %>
	</li>
	<li>
		<%= f.label :temp %><br/>
		<%= f.text_field :temp %>
	</li>
	
	<li>
		<%= f.submit %>
		<%= link_to "Cancel", patients_path %>
	</li>
	
<% end %>
</ul>
