<h1>Patient:</h1>

<%= link_to("Add Patient", new_patient_path) %>

<ul>
<% @patient.each do |patient|%>
	<h2><%= link_to(patient.first_name, patient_path(patient)) %></h2>
	<li><%= patient.first_name %>, <%= patient.last_name %> <%= patient.dob %> 
	<%= patient.allergies %> <%= patient.code %></li>
<% end %>
</ul>

