<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.png' %>
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <title>(evr)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		
		<div class="topbar">
			<div class="toptile user">
			  <% if current_user %>
			  	<%= link_to current_user.email, current_user %> <br>
			  	<%= link_to "Sign Out", session_path, method: :delete %>
			  <% else %>
			  	<%= link_to "Sign Up", signup_path %>
					<%= link_to "Sign In", new_session_path %>
				<% end %>
			</div>
			<div class="toptile">
				<%= link_to("Notes list", notes_path) %>
			  <%= link_to("Add Note", new_note_path) %>
			</div>
			<div class="toptile">
				<%= link_to("Labs list", labs_path) %>
			  <%= link_to("Add Lab", new_lab_path) %>
			</div>
			<div class="toptile">
				<%= link_to("Vitals list", vital_signs_path) %>
			  <%= link_to("Add Vitals", new_vital_sign_path) %>
			</div>
			<div class="toptile">
				<%= link_to("Meds list", meds_path) %>
			  <%= link_to("Add Med", new_med_path) %>   
			</div>
		</div>
		

		

		<div class="rtbar">
			<div class="rttile">
				<%= link_to "Sign Out", session_path, method: :delete %>
				<%= link_to "Protocols", protocols_path %>
			</div>
			<div class="rttile">
				<%= link_to("Orders list", orders_path) %>
			  <%= link_to("Add Order", new_order_path) %>
			</div>
			<div class="rttile">
				<%= link_to("Pt's list", patients_path) %> 
			  <%= link_to("Add Pt", new_patient_path) %>
			</div>
		</div>

		<div class="content">
			<%= yield %>
			<% if notice %>
  			<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
  			<p class="alert alert-danger"><%= alert %></p>
			<% end %>
		</div>

	</body>
</html>
